<form class="form homepage-form" data-bind="attr: {'data-hasrequired': $t('* Required Fields'), 'action': formUrl}" method="post">
    <div class="form-title">
        <h3 data-bind="i18n: getTitle()"></h3>
    </div>
    <div class="form-content">
        <div class="row">
            <div class="column column-left">
                <!-- ko foreach: { data: elems, as: 'element' } -->
                    <!-- ko if: hasTemplate() && (displayArea === 'column-left') -->
                        <!-- ko template: getTemplate() --><!-- /ko -->
                    <!-- /ko -->
                <!-- /ko -->
            </div>
            <div class="column column-right">
                <!-- ko foreach: { data: elems, as: 'element' } -->
                    <!-- ko if: hasTemplate() && (displayArea === 'column-right') -->
                        <!-- ko template: getTemplate() --><!-- /ko -->
                    <!-- /ko -->
                <!-- /ko -->
            </div>
        </div>
        <div class="row buttons-panel">
            <!-- ko foreach: { data: elems, as: 'element' } -->
                <!-- ko if: hasTemplate() && (displayArea === 'buttons-panel') -->
                    <div class="column action">
                        <!-- ko template: getTemplate() --><!-- /ko -->
                    </div>
                <!-- /ko -->
            <!-- /ko -->
        </div>
    </div>
</form>
