<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Timoffmax_Timoffmax::all" title="Timoffmax Modules" sortOrder="1000">
                    <resource id="Timoffmax_HomepageForm::index" title="Timoffmax Homepage Form">
                        <resource id="Timoffmax_HomepageForm::settings" title="Admin Settings"/>
                        <resource id="Timoffmax_HomepageForm::manage" title="Manage Form Requests Data"/>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
