<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <timoffmax_homepage_form>
            <general>
                <!--
                    In general, it should be disabled by default.
                    I left it enabled to avoid problems with the test task.
                -->
                <enabled>1</enabled>
                <country_api_url><![CDATA[https://restcountries.eu/rest/v2/]]></country_api_url>
            </general>
        </timoffmax_homepage_form>
    </default>
</config>
