<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- API -->
    <preference for="Timoffmax\HomepageForm\Api\Data\FormDataInterface" type="Timoffmax\HomepageForm\Model\FormData"/>
    <preference for="Timoffmax\HomepageForm\Api\Data\FormDataSearchResultInterface" type="Timoffmax\HomepageForm\Model\FormDataSearchResult"/>
    <preference for="Timoffmax\HomepageForm\Api\FormDataRepositoryInterface" type="Timoffmax\HomepageForm\Model\FormDataRepository"/>
    <preference for="Timoffmax\HomepageForm\Api\FormDataListInterface" type="Timoffmax\HomepageForm\Model\FormDataRepository"/>

    <preference for="Timoffmax\HomepageForm\Api\Data\CountryInterface" type="Timoffmax\HomepageForm\Model\Country"/>
    <preference for="Timoffmax\HomepageForm\Api\Data\CountrySearchResultInterface" type="Timoffmax\HomepageForm\Model\CountrySearchResult"/>
    <preference for="Timoffmax\HomepageForm\Api\CountryRepositoryInterface" type="Timoffmax\HomepageForm\Model\CountryRepository"/>
    <preference for="Timoffmax\HomepageForm\Api\CountryListInterface" type="Timoffmax\HomepageForm\Model\CountryRepository"/>

    <!-- Data Providers -->
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="tom_hf_request_listing_data_source" xsi:type="string">
                    Timoffmax\HomepageForm\Model\ResourceModel\HomepageForm\Grid\Collection
                </item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Timoffmax\HomepageForm\Model\ResourceModel\HomepageForm\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">tom_form_data</argument>
            <argument name="resourceModel" xsi:type="string">Timoffmax\HomepageForm\Model\ResourceModel\FormData</argument>
        </arguments>
    </virtualType>

    <!-- Custom loggers -->
    <virtualType name="Timoffmax\HomepageForm\Logger\Handler\Error" type="Magento\Framework\Logger\Handler\Base">
        <arguments>
            <argument name="fileName" xsi:type="string">/var/log/country_api/error.log</argument>
        </arguments>
    </virtualType>
    <virtualType name="Timoffmax\HomepageForm\Logger\Handler\Request" type="Magento\Framework\Logger\Handler\Base">
        <arguments>
            <argument name="fileName" xsi:type="string">/var/log/country_api/request.log</argument>
        </arguments>
    </virtualType>
    <virtualType name="Timoffmax\HomepageForm\Logger\Handler\Response" type="Magento\Framework\Logger\Handler\Base">
        <arguments>
            <argument name="fileName" xsi:type="string">/var/log/country_api/response.log</argument>
        </arguments>
    </virtualType>

    <virtualType name="Timoffmax\HomepageForm\Logger\ErrorLogger" type="Magento\Framework\Logger\Monolog">
        <arguments>
            <argument name="name" xsi:type="string">tom_error_logger</argument>
            <argument name="handlers" xsi:type="array">
                <item name="debug" xsi:type="object">Timoffmax\HomepageForm\Logger\Handler\Error</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Timoffmax\HomepageForm\Logger\RequestLogger" type="Magento\Framework\Logger\Monolog">
        <arguments>
            <argument name="name" xsi:type="string">tom_request_logger</argument>
            <argument name="handlers" xsi:type="array">
                <item name="debug" xsi:type="object">Timoffmax\HomepageForm\Logger\Handler\Request</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Timoffmax\HomepageForm\Logger\ResponseLogger" type="Magento\Framework\Logger\Monolog">
        <arguments>
            <argument name="name" xsi:type="string">tom_request_logger</argument>
            <argument name="handlers" xsi:type="array">
                <item name="debug" xsi:type="object">Timoffmax\HomepageForm\Logger\Handler\Response</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Timoffmax\HomepageForm\Service\ApiLogger">
        <arguments>
            <argument name="requestLogger" xsi:type="object">Timoffmax\HomepageForm\Logger\RequestLogger</argument>
            <argument name="responseLogger" xsi:type="object">Timoffmax\HomepageForm\Logger\ResponseLogger</argument>
            <argument name="errorLogger" xsi:type="object">Timoffmax\HomepageForm\Logger\ErrorLogger</argument>
        </arguments>
    </type>

    <!-- Plugins -->
    <type name="Magento\PageCache\Plugin\RegisterFormKeyFromCookie">
        <plugin name="fix_empty_form_key"
                type="Timoffmax\HomepageForm\Plugin\Magento\PageCache\Plugin\RegisterFormKeyFromCookie\AfterBeforeDispatch\FixEmptyFormKeyCookie"
                sortOrder="10"
        />
    </type>
</config>
